<% include layouts/head.ejs %>
<section class="wrapper">
  <p>All done!</p>
  <p>We created the global variable <code><%= name %></code> at <a href="<%=path%>"><%=path%></a> :D</p>
</section>
<% include layouts/tail.ejs %>

